doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home
        link(rel="stylesheet", href="/style.css")
    body
    .navbar
      .logo
        h1 Travel
      .menu
        ul
          li
            a(href="#") Home
          li
            a(href="#") Services
          li
            a(href="#") Places
          li
            a(href="#") Discounts
          li
            a(href="#") Contact
          li
            a(href="#") Booking
      .login
        a(href="/login") Log In
    .body
      .heading
        h1 Travel With Us
        br
        p
          | ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          | tempor incididunt ut labore et dolore magna aliqua.
        br
        br
        a(href="#") Learn More
      .tours
        .places
          h2 Australia
        .places
          h2 New York
        .places
          h2 Thailand
    .footer
      a(href="#") Copyright
      a(href="#") Terms and Conditions
      a(href="#") Privacy Policy
      a(href="#") Cookies
      a(href="#") Complaints
