<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="style.css">
    <title>Home</title>
</head>
<doby>
<head>
	<div class="navbar">
		<div class="logo">
			<h1>Travel</h1>
		</div>
		<div class="menu">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="#">Places</a></li>
				<li><a href="#">Discounts</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="#">Booking</a></li>
			</ul>
		</div>
		<div class="login">
			<a href="/login">Log In</a>
		</div>
	</div>

	<div class="body">
		<% Object.values(tours).forEach(function(item){%>
		<div class="tours">
			<div class="places">
				<h2><%=item.name%></h2>
				<p><%=item.description%></p>
				<br>
				<a href="/tour/<%=item._id%>">Learn more</a>
			</div>
		</div>
		<% }) %>
	</div>	
	<div class="footer">
		<a href="#">Copyright</a>
		<a href="#">Terms and Conditions</a>
		<a href="#">Privacy Policy</a>
		<a href="#">Cookies</a>
		<a href="#">Complaints</a>
	</div>
</body>
</html>
