<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <% if(tour) {%>
    <div>
        <h2><%=tour.name%></h2>
        <h2><%=tour.description%></h2>
        <img src="img/<%=tour.image%>" style="width: 300px; height: 250px; border-radius: 12px;">
    </div>
    <% } %> 
</body>
</html>